@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
    --default-font-family: Inter, sans-serif, system-ui;

    --color-main-200: #ff4365;
    --color-main-100: #d93d59;
    --color-dark: #323436;
    --color-bright: #f5f5f5;
    --color-aux-text-dark: #7f848a;
    --color-aux-text-bright: #63676c;
}